.customnav{  
    border: 1px none;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #888888;
    background-color: #5d0085;
}

.shadowonly
{
    border: 0px none;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #888888;
    
}

.paddingJump
{
    padding: 30px;

}

.textWhite
{
color: azure;

}