.customnav{  
    border: 1px none;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #888888;
    background-color: #0275d8;
}

.shadowonly
{
    border: 0px none;
    padding: 10px;
    box-shadow: 1px 1px 20px 1px #888888;
    
}

.paddingJump
{
    padding: 30px;

}

.textWhite
{
color: azure;

}

.customtab
{
    margin-left: 0.5px;
    margin-right: 0.5px;
    border-radius: 0px;
}