hr {
  color: #edac28;
  background-color: #edac28;
}

.darkbg {
  background-color: #2d3038;
}

.activebg {
  background-color: #3e3e48;
}

.customnav {
  border: 1px none;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px #3e3d48;
  background-color: #e5b02e;
}
.header {
  font-size: 1.5em;
  margin-top: 1%;
  margin-bottom: 3%;
}

.jumbotronpadding {
  padding-bottom: 80px;
}

.updatestatus {
  font-size: 0.7em;
  margin-top: 0.1%;
}
.textareabg {
  background-color: #2d3038;
  border: 0px;
}

.textareabg:focus {
  background-color: #2f3038;
  color: white;
  border-color: #3e3d48;
  border: solid #deb432 1px;
  box-shadow: 0.5px 0.5px 5px 0.5px #deb432;
}
.rowpadding {
  margin-top: 60px;
}
.btnmargin-top {
  margin-top: 20px;
}
.bgyellow1 {
  background-color: #e5b02e;
}
.containerpadding {
  padding-top: 20px;
}

.statcard {
  font-weight: 400;
}
.statcardbg {
  width: 100%;
  background-image: linear-gradient(to left, #deb432, #e5b02e);
}

input[type="text"] {
  background-color: #2f3038;
  color: white;
  border-color: #3e3d48;
}
input[type="text"]:focus {
  background-color: #2f3038;
  color: white;
  border-color: #3e3d48;
  border: solid #deb432 1px;
  box-shadow: 0.5px 0.5px 5px 0.5px #deb432;
}

input[type="password"] {
  background-color: #2f3038;
  color: white;
  border-color: #3e3d48;
}
input[type="password"]:focus {
  background-color: #2f3038;
  color: white;
  border-color: #3e3d48;
  border: solid #deb432 1px;
  box-shadow: 0.5px 0.5px 5px 0.5px #deb432;
}
.custombtn {
  height: 30px;
  font-size: 0.8em;
  margin: 2px;
}

.tablehead {
  background-color: #e5b02e;
  border-radius: 10px;
  color:#2d3038;
}

.customtable {
  width: 100%;
  background-color: #2e3038;
  border-radius: 10px;
  color: white;
}
.selectdark {
  background-color: #2f3038;
  border: 0px;
  color: white;
}

.shadowonly {
  border: 0px none;
  padding: 10px;
  box-shadow: 1px 1px 20px 1px #2f3038;
}

.paddingJump {
  padding: 30px;
}

.btnprint
{
  height: 30px;
}

.textWhite {
  color: azure;
}

.customtab {
  margin-left: 0.5px;
  margin-right: 0.5px;
  border-radius: 0px;
  background-color: #efb342;
  color:#2d3038;
  border: 0px;
}
.customtab:active {
  margin-left: 0.5px;
  margin-right: 0.5px;
  border-radius: 0px;
  background-color: #d6983a;
  color:#2d3038;
  border: 0px;
}

.dashcardbg {
  background-color: #3e3d48;
}

.marginbtn {
  margin-bottom: 10px;
}

.dashcardmargin {
  margin-bottom: 10px;
}

.logo {
  width: 5%;
}
.marktext {
  font-size: 0.7em;
}
.font1-5 {
  font-size: 1.5em;
}

.margintop50 {
  margin-top: 50px;
}

.btnwidth {
  width: 100%;
}

.widthmd{
  width:40%;
}

.textyellow{
  color:#DAB734
}



/* for showing iframes in 100% width and height */
.iframe-full-size {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.shadow{
  box-shadow: 10px 10px 8px 10px #1F1F23;
}

.dash2ndrowpad
{
  margin-top: -50px;
}

.lowmargin {
  margin-top: 5px;
  margin-bottom:5px;
}

.textdark{
  color:#2d3038;
}


ul{
  list-style-type: none;
}

li{
  list-style-type: none;
}

.bottomborder{
  border-bottom:0.5px solid #A8A8A8;
}

.notificationbox{
  height: 30em; padding: 20px; width: 13em;
}

.selectcvard{

  padding-left: 1.2em;
  font-size: 1.3em;
}

.dash-card-margin{
  margin: 5px;
}

.cardeffects{
 
  animation-duration: 1s;
}

.cardeffects:hover{
 
  background-color: #d6983a;
  color:white;
  transition: 0.2s;
  border:  solid #eeaa44 1px;
 
  
}

.cardeffects:active{
 
  background-color: #eea942;
  color:white;
  transition: 0.1s;
  border: solid #eeaa44 1px;
  
}