hr{
    color: #EDAC28 ;
    background-color: #EDAC28 ;
}

.darkbg
{
    background-color: #2D3038;
}

.activebg{
    background-color: #3E3E48;
}

.customnav{  
    border: 1px none;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #3E3D48;
    background-color: #E5B02E;
}
.header
{
    font-size: 1.5em;
     margin-top: 1%; 
     margin-bottom: 3%;
}

.jumbotronpadding{
    padding-bottom: 80px;
}

.updatestatus{
    font-size: 0.7em;
     margin-top: 0.1%;
}
.textareabg{
    background-color: #2D3038;
    border: 0px;
}

.textareabg:focus{
    background-color: #2F3038;
    color:white;
    border-color: #3E3D48;
    border:solid #DEB432 1px;
    box-shadow: 0.5px 0.5px 5px 0.5px #DEB432;
}
.rowpadding{
    margin-top: 60px;
}
.btnmargin-top{
    margin-top: 20px;
}
.bgyellow1
{
    background-color: #E5B02E;
}
.containerpadding
{
    padding-top: 20px;
}

.statcard{
    font-weight: 400;
}
.statcardbg
{
    width:100%;  
    background-image:linear-gradient(to left,#DEB432,  #E5B02E);

    
}

input[type=text]
{
    background-color: #2F3038;
    color: white;
    border-color: #3E3D48;
}
input[type=text]:focus
{
    background-color: #2F3038;
    color:white;
    border-color: #3E3D48;
    border:solid #DEB432 1px;
    box-shadow: 0.5px 0.5px 5px 0.5px #DEB432;
}

input[type=password]
{
    background-color: #2F3038;
    color: white;
    border-color: #3E3D48;
}
input[type=password]:focus
{
    background-color: #2F3038;
    color:white;
    border-color: #3E3D48;
    border:solid #DEB432 1px;
    box-shadow: 0.5px 0.5px 5px 0.5px #DEB432;
}
.custombtn{
    height: 30px;
    font-size: 0.8em;
    margin: 2px;
}

.tablehead{
    background-color: #E5B02E; 
    border-radius: 10px;
}

.customtable{
    width: 100%; 
    background-color:#2E3038;
     border-radius:10px; 
     color: white;
} .selectdark{
    background-color: #2F3038; 
    border:0px;color: white;
}


.shadowonly
{
    border: 0px none;
    padding: 10px;
    box-shadow: 1px 1px 20px 1px #2F3038;
    
}

.paddingJump
{
    padding: 30px;

}

.textWhite
{
color: azure;

}

.customtab
{
    margin-left: 0.5px;
    margin-right: 0.5px;
    border-radius: 0px;
    background-color: #EFB342;
    border: 0px;
}
.customtab:active
{
    margin-left: 0.5px;
    margin-right: 0.5px;
    border-radius: 0px;
    background-color: #D6983A;
    color: #D6983A;
    border: 0px;
}

.dashcardbg{
    background-color: #3E3D48;
}

.marginbtn{
    margin-bottom: 10px;
}

.dashcardmargin{
    margin-bottom: 10px;
}

.logo{
    width: 5%;
}
.marktext{
    font-size: 0.7em;
}
.font1-5{
    font-size: 1.5em;
}

.margintop50{
    margin-top: 50px;
}

.btnwidth{
    width: 100%;
}